@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */

html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */

label, input[type="button"], input[type="submit"], button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub, sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before, .cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/

body {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/

.wrapper {
  max-width: 1100px;
  width: 86%;
  margin: 0 auto;
}

/*=================================
  Header styling starts here
=================================*/

header {
  background: rgb(34, 95, 171);
  background: linear-gradient( 90deg, rgba(34, 95, 171, 1) 39%, rgba(253, 29, 29, 0) 70%, rgba(34, 97, 172, 0.8) 93%), url("../img/plane.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.header-top h1 a {
  color: white;
  font-size: 3.1rem;
  font-weight: 400;
}

.header-top {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-form {
  display: flex;
}

.header-form input {
  padding: 10px 20px;
  border: 1px solid #369fe3;
  font-size: 1.1rem;
}

.header-form input:focus {
  box-shadow: inset 0px 0px 2px 2px #369fe3;
  outline: none;
}

.header-form button {
  padding: 10px;
  border: none;
  background-color: #369fe3;
  color: white;
}

nav {
  padding: 10px;
  background: rgb(44, 127, 199);
  background: linear-gradient( 90deg, rgba(44, 127, 199, 0.7) 62%, rgba(34, 97, 172, 0.7) 83%);
}

nav * {
  transition: all 1.3s ease-in-out;
}

nav ul {
  color: white;
}

nav ul li {
  padding: 5px 10px;
  border-right: 1px solid #369fe3;
}

nav ul li a {
  color: inherit;
  font-weight: 400;
  text-decoration: none;
}

nav ul li a:hover {
  color: #eee;
}

.header-bottom {
  padding: 100px 0;
}

.header-bottom h2 {
  margin: 20px 0;
  color: white;
  font-size: 2.5rem;
}

.header-bottom p {
  width: 50%;
  color: rgb(120, 213, 242);
  font-size: 1.9rem;
}

/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

/* Newsletter start */

.newsletter {
  padding: 50px 0;
  color: #555;
  font-weight: 400;
}

.breadcrumb {
  margin-bottom: 30px;
  display: block;
  font-size: 0.9rem;
}

.breadcrumb a {
  color: #555;
}

.newsletter h2 {
  font-size: 2rem;
  color: #2463ac;
}

.form-element {
  margin: 20px 0;
}

.form-element>* {
  margin: 5px 0;
  display: block;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  /* display: none; */
}

.form-element input[type="text"], .form-element input[type="email"] {
  padding: 10px 15px;
  border: none;
  box-shadow: inset 0px 0px 2px 2px #ccc;
  background: #fff;
}

.form-element input[type="text"]:focus, .form-element input[type="email"]:focus {
  box-shadow: inset 0px 0px 2px 2px #369fe3;
  outline: none;
}

.form-element select {
  padding: 10px 15px;
  border: none;
  box-shadow: inset 0px 0px 2px 2px #ccc;
  background-color: #369fe3;
  color: white;
  outline: none;
}

.error-field {
  border: 1px solid red !important;
  box-shadow: inset 0px 0px 2px 2px red;
}

.read-more a {
  color: #369fe3;
}

.submit {
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 12px 60px;
  margin: 20px 0;
  display: block;
  background-color: #369fe3;
  color: white;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.submit:hover {
  border: 1px solid #369fe3;
  background-color: white;
  color: #369fe3;
}

/* Newsletter end */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/

footer {
  padding-top: 50px;
  margin-top: 50px;
  background: rgb(33, 94, 168);
  background: linear-gradient( 90deg, rgb(33, 94, 166) 10%, rgba(26, 52, 102, 1) 80%);
  color: #ddd;
  font-weight: 400;
}

.footer-main {
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.footer-main>* {
  flex-basis: 29%;
}

.footer-main h2 {
  padding-right: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #4086b4;
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: white;
}

.footer-main h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.footer-main h3 a {
  text-decoration: none;
  color: inherit;
}

.footer-main ul {
  display: flex;
  flex-flow: column;
  font-size: 1.1rem;
}

.footer-main ul li a {
  margin: 2px 0;
  color: inherit;
}

.footer-main ul li a:hover {
  color: #369fe3;
}

.copyright {
  background-color: #102c57;
}

.copyright .wrapper {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

.copyright .wrapper li a {
  border-right: 1px solid #ccc;
  padding-right: 5px;
  color: inherit;
  font-weight: 400;
}

.copyright .wrapper li:last-child a {
  border: none;
}

.copyright .wrapper li a:hover {
  color: #369fe3;
}

.footer-main .icons {
  display: flex;
  flex-flow: row;
}

.icons .icon {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.icons .icon:hover {
  box-shadow: 0px 0px 2px 2px #ccc;
}

/* Icons */

.icons .icon {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 1.5rem;
}

.linkedin:before {
  content: "\f0e1";
  color: #3568b6;
}

.twitter:before {
  content: "\f099";
  color: rgb(101, 202, 202);
}

.youtube::before {
  content: "\f04b";
  color: red;
}

.facebook::before {
  content: "\f09a";
  color: #1e58af;
}

.down {
  content: "\f0dd";
}

nav #showNav {
  font: normal normal normal 14px/1 FontAwesome;
  color: white;
  display: none;
  padding: 5px 10px;
}

nav #showNav:before {
  content: "\f0c9 ";
}

/*=================================
  footer styling ends here
=================================*/

/*media query starts*/

/*media query for 995px starts here*/

/* 1024px, 995px, 767px, 540px, 480px */

@media only screen and (max-width: 995px) {
  .backdrop {
    height: 100%;
    width: 100vw;
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
  }
  nav ul.wrapper {
    height: 100%;
    width: auto;
    max-width: 50vw;
    padding: 20px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #1e58af;
    transition: all 1.3s ease-in-out;
    transform: translateX(-100px);
  }
  nav ul li {
    display: block;
    margin: 5px 0;
    border: none;
  }
  nav #showNav {
    display: block;
  }
  .footer-main {
    flex-wrap: wrap;
  }
  .footer-main>* {
    flex-basis: 49%;
  }
}

@media only screen and (max-width: 767px) {
  .header-top {
    flex-wrap: wrap;
  }
  .header-top>* {
    margin: 5px;
    flex-basis: 60%;
  }
  .footer-main>* {
    margin: 20px 0;
    flex-basis: 80%;
  }
  .copyright .wrapper {
    flex-wrap: wrap;
  }
  .copyright .wrapper * {
    margin: 5px 0;
    flex-basis: 100%;
  }
}